<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hant</string>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hant</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.packagetraker.emailsync</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.148590699171-818pb3egia5prvvrel89h923e69dhul1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>148590699171-818pb3egia5prvvrel89h923e69dhul1.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>我們需要通知權限來提醒您包裹到貨和取貨</string>
</dict>
</plist>
